img {
  width: 30%;
}

.showcase {
  width : 90%;
  margin-top: 20px;
}

.temperament-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.temperament {
  font-size: 0.625rem;
  padding: 0.25rem 0.5rem;
  background: #d4d4d8;
  border-radius: 0.5rem;
}